html {
  font-size: 100px;
}

body {
  font-size: 0.12rem;
  font-family: 'PingFangSC-Regular', sans-serif !important;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
